<header>
    <div class="container">
        <div class="logo"><img src="images/logo.svg" alt="">bmerketo</div>
        <nav id="menu" class="menu-links">
            <NavLink href="" class="link">HOME</NavLink>
            <NavLink href="products" class="link">PRODUCTS</NavLink>
            <NavLink href="contacts" class="link">CONTACT</NavLink>
        </nav>
        <nav class="menu-icons">
            <NavLink href="search" Match="NavLinkMatch.All" class="link"><i class="fa-regular fa-search"></i></NavLink>
            <NavLink href="login" class="link">Login</NavLink>
            <NavLink href="cart" class="link"><i class="fa-solid fa-cart-shopping"></i></NavLink>
        </nav>
        <div class="toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                <i id="icon" class="fa-regular fa-bars"></i>
            </button>
        </div>
    </div>
</header>

@code {

}
